@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500;0,600;0,700;0,800;0,900;1,500&display=swap');

body {
    background-color: #F1F5F9;
    font-family: 'Mulish', sans-serif;
}

/* React Datepicker */
.react-datepicker {
    font-family: 'Mulish', sans-serif;
    font-size: 0.875rem;
    padding: 0.25rem;
    border: 0;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-radius: 0.25rem;
}

.react-datepicker__triangle {
    display: none;
}

.react-datepicker__year-read-view--down-arrow, .react-datepicker__month-read-view--down-arrow, .react-datepicker__month-year-read-view--down-arrow, .react-datepicker__navigation-icon::before {
    border-color: #9da4b0;
    border-width: 2px 2px 0 0;
}

.react-datepicker-popper {
    padding-top: 0.25rem !important;
}

.react-datepicker__header {
    background-color: unset;
    padding: 0.25rem;
    border-bottom: 0;
}

.react-datepicker__navigation {
    top: 0.5rem;
}

.react-datepicker__navigation--previous {
    left: 0.5rem;
}

.react-datepicker__navigation--next {
    right: 0.5rem;
}

.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-top: 1px;
    margin-bottom: 0.5rem;
}

.react-datepicker__month {
    margin: 0.25rem;
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    width: 2rem;
    line-height: 2rem;
    margin: 0.125rem;
}

.react-datepicker__day-name {
    color: #6b7280;
    font-size: 0.75rem;
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range,
.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected {
    border-radius: 0.5rem;
    background-color: #111827;
    font-weight: bold;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.react-datepicker__day:hover, .react-datepicker__month-text:hover, .react-datepicker__quarter-text:hover, .react-datepicker__year-text:hover {
    border-radius: 0.5rem;
    background-color: #f9fafb;
}

.react-datepicker__day--selected:hover, .react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover, .react-datepicker__month-text--selected:hover, .react-datepicker__month-text--in-selecting-range:hover, .react-datepicker__month-text--in-range:hover, .react-datepicker__quarter-text--selected:hover, .react-datepicker__quarter-text--in-selecting-range:hover, .react-datepicker__quarter-text--in-range:hover, .react-datepicker__year-text--selected:hover, .react-datepicker__year-text--in-selecting-range:hover, .react-datepicker__year-text--in-range:hover,
.react-datepicker__day--keyboard-selected:hover, .react-datepicker__month-text--keyboard-selected:hover, .react-datepicker__quarter-text--keyboard-selected:hover, .react-datepicker__year-text--keyboard-selected:hover {
    background-color: #111827;
}

/* SweetAlert 2 */
.swal-modal {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-radius: 0.25rem;
}

.swal-title {
    color: #111827;
    font-weight: 800;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 0 !important;
}

.swal-text{
    color: #6b7280;
    font-size: 0.75rem;
}

.swal-button {
    border-radius: 999px;
}

.swal-button-container {
    margin: 0;
    padding: 0.25rem; 
}

.swal-footer {
    padding: 1rem;
}